h2 {
  margin-bottom: 20px; }

.question {
  width: 600px;
  background-color: lightblue;
  margin-bottom: 20px;
  padding: 10px; }
  .question .remove {
    float: right;
    color: #999; }
    .question .remove:hover {
      color: #ddd; }
  .question button {
    cursor: pointer;
    padding: 3px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #05C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
    line-height: 16px;
    margin: 4px 6px 3px 2px;
    float: right;
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .question textarea {
    border-radius: 5px;
    font-size: 14px;
    background: white;
    resize: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 7px;
    border: none;
    width: 580px; }

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible; }

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%; }

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0; }

