﻿@model List<DevInSantosMVC.Domain.Model.Entities.Question>
<h2>Recente Responses</h2>
@if (Model != null && Model.Count > 0)
{
    <div>
        <table>
            <tr>
                <th>
                    Perguntas
                </th>
                <th>
                    Respostas
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Message
                    </td>
                    <td>
                        @item.Answer
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{ 
    <div>
        <p>@site.resources.Messages.NoQuestionsAnswered</p>
    </div>
}