﻿@model DevInSantosMVC.Domain.Model.Entities.User
@{
    ViewBag.Title = "InBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InBox</h2>

@if (Model.UnAnsweredQuestions.Count > 0)
{
    foreach (var question in Model.UnAnsweredQuestions)
    {
    <div class="question clearfix">
        <a class="remove" href="@Url.ForUser(Model, "Remove", new { question = question.Id })">x</a>
        <div class="info">
            @if (question.IsAnonymous)
            {
                <span class="author">Anônimo</span> <span>(@question.CreatedOn.ToString("D"))</span>
            }
            else
            {
                <span class="author"><a href="@Url.ForUser(question.From)">@question.From.UserName</a></span> <span>(@question.CreatedOn.ToString("D"))</span>
            }
            <p class="message">@question.Message</p>
        </div>
        <form action="/user/Answer" method="post" class="answer-form">
        <input type="hidden" name="user" value="@Model.UserName" />
        <input type="hidden" name="question" value="@question.Id" />
        <textarea name="answer" placeholder="Respond"></textarea>
        <button class="btn btn-primary">Respond</button>
        </form>
        <span></span>
    </div>                
    }      
}
else
{
    <p>@site.resources.Messages.ThereIsNoQuestionForYouAnswer</p>
}