﻿@model IEnumerable<DevInSantosMVC.Domain.Model.Entities.User>

@{
    ViewBag.Title = "ListAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListAllUsers</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnsweredQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnAnsweredQuestions)
        </th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            <a href="@Url.ForUser(user)">@Html.DisplayFor(modelItem => user.UserName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>
        <td>
            @user.AnsweredQuestions.Count()
        </td>
        <td>
            @user.UnAnsweredQuestions.Count()
        </td>
    </tr>
}

</table>
