﻿@model DevInSantosMVC.Domain.Model.Entities.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ask me anything</h2>

<div class="question clearfix">
    <form action="/user/Ask" method="post" class="ask-form">
    <input type="hidden" name="user" value="@Model.UserName" />
    <textarea name="question" placeholder="Ask @Model.UserName a question"></textarea>
    <button class="btn btn-primary">Ask</button>
    </form>
</div>

@Html.Partial("_Questions", Model.AnsweredQuestions)
